language: dart

dart:
  - stable
  - dev

script: skip

jobs:
  include:
    - &test
      before_script:
        - cd logic
        - pub get
      script:
        - dartanalyzer lib --fatal-warnings
        - dartfmt --dry-run --set-exit-if-changed -- .
    - <<: *test
      dart:
        - stable
        - dev
      before_script:
        - cd angular
        - pub get
    - before_script:
        - git clone https://github.com/flutter/flutter.git flutter-source
        - cd flutter
        - ../flutter-source/bin/flutter packages get
        - ../flutter-source/bin/flutter analyze
        - dartfmt --dry-run --set-exit-if-changed -- .
